<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
  <!-- custome css --->
  {{ $custom := resources.Get "css/custom.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $custom.Permalink }}">

 <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ if .IsHome }}vineetloomba.com{{ else }}{{ .Title }} | vineetloomba.com{{ end }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#0d1117] text-white font-sans">

  <!-- Navigation -->
  <header class="bg-black text-white p-4 shadow-md flex justify-between items-center sticky top-0 z-50 shadow-md">
    <a href="/" class="text-xl nav-font hover:text-yellow-400">Vineet Loomba Sir</a>
    <nav class="space-x-6 text-lg font-medium nav-font">
  {{ range site.Menus.main }}
    <a href="{{ .URL }}" class="hover:text-yellow-400">{{ .Name }}</a>
  {{ end }}
    </nav>

  </header>

  <!-- Main content -->
  <main class="w-full bg-[#0d1117] py-8">
    <div class="max-w-full sm:max-w-6xl mx-auto px-2 sm:px-4">
      {{ block "main" . }}{{ end }}
    </div>
  </main>

</body>
</html>
