{{ define "main" }}
  <section class="max-w-7xl mx-auto px-4 sm:px-8 py-8">
    <h1 class="text-3xl font-bold text-white mb-6">{{ .Title }}</h1>
    
    <div class="prose prose-invert max-w-none text-gray-300 mb-10">
      {{ .Content }}
    </div>

    <div class="space-y-6">
      {{ range .Pages }}
        <article>
          <a href="{{ .RelPermalink }}" class="text-2xl font-semibold text-blue-400 hover:text-blue-300 transition duration-150">
            {{ .Title }}
          </a>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}
