{{ define "main" }}
  <section class="max-w-7xl mx-auto px-4 sm:px-8 py-8 text-gray-300">
    <h1 class="text-3xl text-white mb-6">{{ .Title }}</h1>
    
    <div class="prose prose-invert max-w-none">     
      {{ .Content }}
    </div>
    <!-- Back Button -->
{{ if eq .Section "chapters" }}
<div class="mt-10">
  <a href="/chapters/" class="inline-block bg-yellow-400 text-black font-concert py-2 px-4 rounded hover:bg-yellow-300">
    ← Back to All Chapters
  </a>
</div>
{{ end }}

  </section>
{{ end }}
