<div style="max-width:700px;margin:0 auto;">
  <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin-top:1.5rem;margin-bottom:1.5rem;border-radius:12px">
    {{ $start := "0" }}
    {{ if ge (len .Params) 3 }}
      {{ $start = .Get 2 }}
    {{ end }}
    <iframe src="https://www.youtube.com/embed/{{ .Get 0 }}?start={{ $start }}&rel=0"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            referrerpolicy="strict-origin-when-cross-origin"
            title="{{ .Get 1 }}"></iframe>
  </div>
</div>



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ .Get 1 }}",
  "description": "Video content for {{ .Page.Title }}",
  "thumbnailUrl": "https://img.youtube.com/vi/{{ .Get 0 }}/hqdefault.jpg",
  "uploadDate": "{{ with .Page.Date }}{{ .Format "2006-01-02T15:04:05Z07:00" }}{{ else }}{{ now.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}",
  "contentUrl": "https://www.youtube.com/watch?v={{ .Get 0 }}",
  "embedUrl": "https://www.youtube.com/embed/{{ .Get 0 }}",
  "publisher": {
    "@type": "Organization",
    "name": "Vineet Loomba",
    "url": "https://vineetloomba.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://vineetloomba.com/logo.png"
    }
  }
}
</script>
